@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.eot');
  src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('Lato-Bold.svg#Lato-Bold') format('svg'),
       url('Lato-Bold.ttf') format('truetype'),
       url('Lato-Bold.woff') format('woff'),
       url('Lato-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Light';
  src: url('Lato-Light.eot');
  src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('Lato-Light.svg#Lato-Light') format('svg'),
       url('Lato-Light.ttf') format('truetype'),
       url('Lato-Light.woff') format('woff'),
       url('Lato-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('Lato-Regular.eot');
  src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('Lato-Regular.svg#Lato-Regular') format('svg'),
       url('Lato-Regular.ttf') format('truetype'),
       url('Lato-Regular.woff') format('woff'),
       url('Lato-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('Lato-Black.eot');
  src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
       url('Lato-Black.svg#Lato-Black') format('svg'),
       url('Lato-Black.ttf') format('truetype'),
       url('Lato-Black.woff') format('woff'),
       url('Lato-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('OpenSans-Bold.ttf') format('truetype'),
       url('OpenSans-Bold.woff') format('woff'),
       url('OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.eot');
  src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Light.svg#OpenSans-Light') format('svg'),
       url('OpenSans-Light.ttf') format('truetype'),
       url('OpenSans-Light.woff') format('woff'),
       url('OpenSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
       url('OpenSans-Regular.ttf') format('truetype'),
       url('OpenSans-Regular.woff') format('woff'),
       url('OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('Gotham-Black.eot');
  src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
       url('Gotham-Black.svg#Gotham-Black') format('svg'),
       url('Gotham-Black.ttf') format('truetype'),
       url('Gotham-Black.woff') format('woff'),
       url('Gotham-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}