/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*===============*/

/*общие стили*/

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.content {
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/*HEADER*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #f7f7f7;
	margin: 0 0 50px;
	z-index: 50;
}
.header__column {}
.header-logo {}
.header-logo__image {}
.header__menu {}
.header__menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu-link {
	display: inline-block;
	font-size: 14px;
 	font-family: "Lato";
 	text-transform: uppercase;
	line-height: 20px;
	margin: 0 20px 0 0;
	padding: 10px;
	color: #868686;
}
.header__menu-link:hover {
	background-color: #ffbb42;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
}

.header__menu-icon {
	display: none;
}

.business {
	background-color: #709dca;
	padding: 100px 0 0px 0;
	margin: 0 0 70px 0;
}
.business__body {

}
.business__column {}
.business__title {
	font-size: 35px;
	font-family: "Gotham";
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
	text-align: center;
	margin: 0 0 10px 0;
}
.business__title h1 {
	font-weight: 700;
}
.business__subtitle {
	font-size: 20px;
	font-family: "Gotham";
	color: #fff;
	line-height: 25px;
	text-align: center;
	margin: 0 0 25px 0;
}
.form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0 0px 0;
}
.form-line {
	margin: 0 10px 0 0;
}
.form-line:last-child {
	margin: 0;
}
.input {
	border-radius: 3px;
	width: 100%;
	display: inline-block;
	padding: 0px 18px;
	height: 50px;
	border: 2px solid #fff;
	background-color: #fff;
	color: #000;
	font-size: 18px;
}
.form-button {}
.form-btn {}
.btn {
	display: inline-block;
	padding: 0px 45px;
	height: 50px;
	background-color: #ffbb42;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	width: 100%;
	text-align: center;
}
.compucter {
	background: url(../img/slider/pc.png) 50%/650px no-repeat;
	padding: 40px 0;
	transform: translate(0px, 75px);
    margin: -65px 0 0 0;
}

/*SLIDER*/

.slider {
	min-width: 0;
	max-width: 455px;
    margin: 0 auto;
    max-height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 5px 0 0 0;
    top: 45px;
}

.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 1px solid #dedfe0;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #1ca8dd;
}
.slider__item {	
}
.slider__item img {
	max-width: 100%;
}

/*SERVICES*/

.services {
	padding: 100px 0;
}
.services__title {
	margin: 0 0 40px 0;
}
.title {
	text-align: center;
}
.service__title-h2 {
	color: #394b50;
}
.h2title {
	font-size: 30px;
	font-family: "Gotham";
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	font-weight: 700;
}
.service__title-subtitle {}
.subtitle {
	font-size: 20px;
	font-family: "Gotham";
	line-height: 30px;
	text-align: center;
	font-weight: 400;
}
.services__row {
	display: flex;
	flex-wrap: wrap;
}
.services__column {
	flex: 0 1 50%;
    margin: 0 0 20px 0;
    padding: 0 10px 0 0;
}
.services__item {
	display: flex;
	justify-content: flex-start;
}
.services__item__row {
	display: flex;
}
.services__item-ico {
	flex: 0 0 65px;
}
.services__item-body {
	flex: 1 1 auto;
	padding: 0 10px 0 10px;
}
.services__item-body-title {
	font-size: 17px;
	font-family: "Lato";
	color: #394b50;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
	margin: 0 0 10px 0;
}
.services__item-body-text {
	color: #7b7b7b;
	font-size: 15px;
	font-family: "Myriad Pro";
	line-height: 20px;
}
img.hid {
	display: none;
}
.services__item__row:hover img.vis {
	display: none;
}
.services__item__row:hover img.hid {
	display: block;
}

/*ABOUT*/

.about {
	display: flex;
	overflow: hidden;
	background-color: #ffc155;
}

.about__content {
	flex: 0 0 100%;
	display: flex;
}
.about__container {
	display: flex;
	align-items: center;
	margin: 0;
}
.about__body {
	width: 50%;
	padding: 50px 35px 50px 100px;
}
.about__body-title {
	color: #fff;
	margin: 0 0 20px 0;
	text-align: left;
}
.about__body-text {
	color: #fff;
	font-size: 15px;
	font-family: "OpenSans";
	line-height: 20px;
	margin: 0 0 20px 0;
}
.about__body-button {}
.about__body-btn {
	max-width: 200px;
	background-color: #fff;
	color: #ffbb42;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about_img {
	flex: 0 0 50%;
	position: relative;
	padding: 0 0 35% 0;
}
.about_img img {
	max-width: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*PRICE*/

.price {
	background-color: #e7edf3;
	padding: 130px 0 90px 0;
}
.price__row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.price__column {
	flex: 0 1 33.333%;
	background-color: #fff;
	border-radius: 5px;
}
.price__center {
	background-color: #709dca;
	padding: 30px 0;
}
.price__title {
	margin: 0 0 50px 0;
}
.price__title-h2 {
	color: #394b50;
}
.price__title-subtitle {
	color: #98a7ac;
}
.price__item {
	padding: 70px 30px 70px;
	text-align: center;
	min-width: 300px;
}
.price__item-top {}
.price__item-title {
	font-size: 25px;
	font-family: "Lato";
	text-transform: uppercase;
	color: #818b95;
	margin: 0 0 30px 0;
}
.price__item-price {
	color: #ffbb42;
	font-size: 60px;
	font-family: "Lato";
	font-weight: 700;
	margin: 0;
	display: flex;
	justify-content: center;
}
.price__item-price span {
	font-size: 40px;
}
.price__item-month {
	font-size: 16px;
	font-family: "Lato";
	text-transform: uppercase;
	color: #818b95;
	margin: 0 0 21px 0;
}
.price__item-body {
	margin: 0 0 35px 0;
}
.price__item-body p {
	color: #b5bbc1;
	padding: 14px 0;
	font-size: 14px;
	font-family: "Lato";
	text-transform: uppercase;
}
.price__item-body p:first-child {
	border-top: 1px solid #e2e9f0;
	border-bottom: 1px solid #e2e9f0;
}
.price__item-body p:last-child{
	padding: 14px 0 0 0;
	border-top: 1px solid #e2e9f0;
}
.price__item-body p.b2:first-child {
	border-top: 1px solid #8eb8e2;
	border-bottom: 1px solid #8eb8e2;
}
.price__item-body p.b2:last-child{
	padding: 14px 0 0 0;
	border-top: 1px solid #8eb8e2;
}

.b {
	color: #fff;
}
p.b2 {
	color: #c2e1ff;
}
.price__item-footer {}
.price__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	max-width: 150px;
	margin: 0 auto;
	font-size: 16px;
}

/*HOW*/

.how {
	padding: 75px 0;
}
.how__title {
	margin: 0 0 75px 0;
}
.how__title-h2 {
	color: #394b50;
}
.how__title-subtitle {
	color: #394b50;
}
.how__row {
	display: flex;
	justify-content: space-between;
	margin: 0 0 60px 0;
}
.how__column {
	flex: 0 1 18%;
}
.arrow {
	flex: 0 1 10%;
	margin: -30px -10px 0 -10px;
}
.arrow-bottom {
	align-items: center;
    display: flex;
}
.how__item {}
.how__item-top {
	text-align: center;
	margin: 0 0 50px 0;
}
.how__item-bottom {
	text-align: center;
}
.how__item-bottom-title {
	font-size: 20px;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	color: #394b50;
	margin: 0 0 20px;
	}
.how__item-bottom-text {
	font-size: 15px;
	font-family: "OpenSans";
	color: #7b7b7b;
	line-height: 20px;
}
.how__item-button {}
.how__btn {
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 200px;
	margin: 0 auto;
}
.dotted-arrow {
	display: none;
}

/*CLIENTS*/

.clients {
	background-color: #ffc155;
	padding: 100px 0;
}
.clients__title {
	margin: 0 0 40px 0;
}
.clients__title-h2 {
	color: #fff;
}
.clients__title-subtitle {
	color: #fff;
}
.clients__row {
	display: flex;
	flex-wrap: wrap;
}
.clients__column {
	display: flex;
	flex: 0 1 49%;
	align-items: center;
	background-color: #fff;
	padding: 30px;
	
}
.clients__column:nth-child(1) {
	margin: 0 7px 5px 0;
}
.clients__column:nth-child(2) {
	margin: 0 0 5px 7px;
}
.clients__column:nth-child(3) {
	margin: 5px 7px 0 0;
}
.clients__column:nth-child(4) {
	margin: 5px 0 0 7px;
}
.clients__column-image {}
.clients__column-body {}
.clients__column-body-blockquote {}
.blockquote {
	margin: 0 0 0 25px;
	font-size: 15px;
	font-family: "OpenSans";
	color: #7b7b7b;
	line-height: 23px;
	
}
.blockquote p {
	margin: 0 0 10px 0;
	position: relative;
}
.blockquote p:before,
.blockquote p:after {
    position: absolute;
    color: #7b7b7b;
    font-size: 40px;
    font-family: Times, sans-serif;       
}
.blockquote p:before {
    content: '“';
    left: -25px;
    top: 0;
}
.blockquote p:after {
    content: '”';
    right: 5px;
    bottom: -22px;
}
.blockquote cite {
	color: #99a9ae;
	text-transform: uppercase;
	font-style: normal;
}
.blockquote cite span {
	color: #f6772c;
}

/*newsletter*/

.newsletter {
	padding: 100px 0;
}
.newsletter__title {
	margin: 0 0 30px 0;
}
.newsletter__title-h2 {
	color: #394b50;
}
.newsletter__title-subtitle {
	color: #394b50;
}
.newsletter__form {
	margin: 0 0 40px 0;
}
.newsletter__body {
	background: url(../img/newsletter_bg.png) 50%/contain no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 70px 0 100px 0;
	flex-direction: column;
}
.newsletter__body-item {
	background-color: #394b50;
	border-radius: 50%;
	width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -25px;
}
.newsletter__body-item-content {
	text-align: center;
}
.newsletter__body-item-content-title {
	font-size: 15px;
	font-family: "Lato";
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin: -10px 0 10px 0;
}
.newsletter__body-item-content-text {
	color: #aeb7ba;
	font-size: 13px;
	line-height: 19px;
}
.newsletter__body-item-content-text a {
	color: #aeb7ba;
}
.newsletter__body-item-content-text a:hover{
	color: #ffbb42;
}
.bottom__logo {

}
.input-border {
	border: 1px solid #cbcbcb;
	min-width: 300px;
}
.newsletter__body-item:after {
	content: '';
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin: 0 0 0 -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #394b50;
	z-index: 2;
}

@media (max-width: 1100px) {
	.btn {
		padding: 0px 15px;
	}
	.about__body-btn {

	}
	.about__body {
	    padding: 50px 35px 50px 40px;
	}
}

@media (max-width: 1000px) {
	body.lock {
		overflow: hidden;
	}
	.header__menu-icon {
		display: block;
		position: absolute;
		top: 25px;
		right: 15px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.header__menu-icon span {
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #4d4959;
	}
	.header__menu-icon span:first-child {
		top: 0;
	}
	.header__menu-icon span:last-child {
		top: auto;
		bottom: 0px;
	}
	.header__menu-icon.active span {
		transform: scale(0);
	}
	.header__menu-icon.active span:first-child {
		transform: rotate(-45deg);
		background-color: #fff;

		top: 8px;
	}
	.header__menu-icon.active span:last-child {
		transform: rotate(45deg);
		bottom: 8px;
		background-color: #fff;

	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #709dca;
		padding: 50px 0px 20px 0px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.header__menu.active {
		top: 0;
	}
	.header__menu-list {
		flex-direction: column;
	}
	.header__menu-link {
	    display: inline-block;
	    font-size: 20px;
	    font-family: "Lato";
	    text-transform: uppercase;
	    line-height: 25px;
	    padding: 10px;
	    color: #fff;
	}
	.price {
	    padding: 50px 0 50px 0;
	}
	.price__title {
	    margin: 0 0 25px 0;
	}
	.price__item {
	    padding: 40px 20px 40px;
	}
	.how {
	    padding: 50px 0;
	}
	.clients {
	    padding: 50px 0;
	}
	.newsletter {
	    padding: 50px 0;
	}
}

@media (max-width: 929px) {
	.price__column {
	    margin: 5px;
	}
	.price__center {
	    padding: 0;
	}
	.price__column {
	    flex: 0 1 45%;
	}
}

@media (max-width: 900px) {
	.clients__row {
	    flex-direction: column;
	}
	.clients__column:nth-child(n) {
		margin: 0 0 10px 0;
	}
	.clients__column:last-child {
		margin: 0;
	}
	.how__row {
	    margin: 0 0 40px 0;
	}
	.clients {
	    padding: 50px 0;
	}
}

@media (max-width: 767px) {
	.compucter {
	    transform: translate(0px, 0px);
	    margin: 0;
	}
	.form {
		display: block;
		margin: 0px 0 25px 0;
	}
	.form-line {
		margin: 0 0 10px 0;
	}
	.slider .slick-dots li.slick-active button{
		background-color: #dedfe0;
		border: 1px solid #dedfe0;
	}
	.compucter {
		background: none;
		padding: 0;
	}
	.slider {
	    max-width: 100%;
	    max-height: 100%;
	}
	.slider .slick-dots {
	    margin: 0;
	    top: 15px;
	}
	.business {
	    padding: 90px 0 40px 0;
	    margin: 0;
	}
	.services {
	    padding: 25px 0 20px 0;
	}
	.services__column {
    	flex: 0 1 100%;
    	padding: 0;
	}
	.services__item-body-text {
	    font-size: 18px;
	}
	.services__item__row {
	    /*flex-direction: column;*/
	    align-items: center;
	}
	.services__item-body {
	    /*text-align: center;*/
	    padding: 0 0px 0 15px;
	}
	img.vis {
		width: 60px;
	}
	img.vis_fix {
		width: 45px;
	}
	.services__item__row:hover img.vis {
		display: inline-block;
	}
	.services__item__row:hover img.hid {
		display: none;
	}
	.services__item-ico {
	    text-align: center;
	}
	.about {
	    flex-direction: column;
	}
	.about__body {
	    width: 100%;
	    padding: 30px 0px;
	}
	.about__body-title {
	    text-align: center;
	}
	.about__body-btn {
	    margin: 0 auto;
	}
	.about__body-text {
	    font-size: 18px;
	}
	.price__item-title {
	    margin: 0 0 15px 0;
	}
	.price__item-body {
	    margin: 0 0 25px 0;
	}
	.price__item {
	    padding: 30px 15px 30px;
	}
	.price__btn {
	    max-width: 200px;
	    font-size: 18px;
	}
	.price {
	    padding: 30px 0;
	}


	/*HOW*/

	.how {
		padding: 30px 0;
	}
	.arrow {
		display: none;
	}
	.how__row {
	    flex-direction: column;
	    align-items: center;
	    margin: 0 0 20px 0;
	}
	.how__title {
	    margin: 0 0 40px 0;
	}
	.how__item-top {
	    margin: 0 0 20px 0;
	}
	.how__item-bottom-title {
	    margin: 0 0 15px 0;
	}
	.how__column {
	    max-width: 400px;
	    margin: 0 0 15px 0;
	}
	.dotted-arrow {
		display: block;
		margin: 0 0 25px 0;
	}
	.dotted-arrow-item {
		position: relative;
		width: 1px;
	    margin: 0 auto;
	    border-right: 2px dotted #76a1cc;
	    min-height: 38px;
	}
	.dotted-arrow-item:after {
		content: '';
	    position: absolute;
	    bottom: -12px;
	    left: 50%;
	    margin: 0 0 0 -6px;
	    width: 0;
	    height: 0;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-top: 25px solid #76a1cc;
	    border-top: 10px solid #76a1cc;
	}

	.clients {
	    padding: 30px 0;
	}
	.newsletter {
	    padding: 30px 0;
	}
	.input-border {
	    min-width: 100%;
	}
	
}

@media (max-width: 649px) {
	.price__column {
	   /* min-width: 500px;*/
	   flex: 0 1 80%
	}
}

@media (max-width: 600px) {
	.newsletter__body {
	    background: url(../img/newsletter_bg.png) 50%/contain no-repeat;
	    padding: 0;
	}
	.newsletter__body-item {
	    top: 0;
	}
	.newsletter__form {
	    margin: 0 0 20px 0;
	}
	.bottom__logo {
	    margin: 10px 0 0 0;
	}
	.newsletter__title {
	    margin: 0 0 15px 0;
	}
}

@media (max-width: 400px) {
	.about_img {
	    display: none;
	}
	.h2title {
	    font-size: 25px;
	}
	.subtitle {
	    font-size: 18px;
	}
	.price {
	    padding: 20px 0 30px 0;
	}
	.how {
	    padding: 30px 0;
	}
	.how__title {
	    margin: 0 0 25px 0;
	}
	.how__row {
	    margin: 0 0 10px 0;
	}
	.services__title {
	    margin: 0 0 20px 0;
	}
	.price__title {
	    margin: 0 0 15px 0;
	}
	.clients__column {
	    flex-direction: column;
	}
	.clients__column-image {
	    margin: 0 0 15px 0;
	}
}